/* CSS Document */
.code {
  font-family: Courier, serif;
  font-size:1.2em;
}

img.voucher {
	border: 1px solid gray;
	padding: 4px;
}

img.link {
	border: 0px;
}

.mylink a{
	text-decoration: none;
}

.mylink a:hover{
	text-decoration: underline;
}

.statcounter { display: none }

body {

	margin:0;
	font-family:"Trebuchet MS", Arial, Verdana;
	font-size:0.74em;
	color:#555555;
	background-color:#FFFFFF;
	text-align:left;
}

/* Dojo */
body .dojoTooltip {
	color: black; 
	border: solid 2px red; 
	padding: 3px; 
}

input { 
	background-color:#FFFFFF;
	padding:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#2a65ad;
	border:1px solid #728c40;
	background-color:#ffffff;
	margin-bottom:2px;
}

input[type=submit] {
	background-color:#cccccc;
	padding:3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:black;
	border:2px solid #728c40;
	margin-top: 2px;
	margin-bottom:2px;
}
/* for "Special" submit button */
input[type=submit].special { 
	background-color:#FFFFFF;
	padding:3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:black;
	border:2px solid black;
	background-color:red;
}

a {
	color:#4D87CE;
	font-weight:bold;
	text-decoration:underline;
}
a:hover {
	color:#2a65ad;
	text-decoration: none;
}

ol,ul {

}

li {
	list-style-image:url(../images/backgrounds/li.gif);
	line-height:20px;
	text-align:left;
}

#menu {
	position: relative;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#94AE62;
	margin-bottom:10px;
	color:#FFFFFF;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-variant:small-caps;
	background-image:url(../images/backgrounds/menu.jpg);
}
#menu a {
	color:#FFFFFF;
	text-decoration:none;
	padding:10px;
	padding-top:20px;
	padding-bottom:20px;
	
}
#menu a:hover {
	border-bottom:1px solid #ffffff;
	border-left:1px solid #728d40;
	border-right:1px solid #e9ffb7;
	padding-left:9px;
	padding-right:9px;
	color:#000000;
	background-color:#FFFFFF;
	background-image:url(../images/backgrounds/a_hover.jpg);
}

#header {
	position: relative;
	left: 0px;
	width:750px;
	margin:0 auto 0 auto;
	margin-bottom:10px;
}
#header h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:20px;
	font-weight:normal;
	margin:0;
	padding:0;
	padding-top:5px;
	color:#736451;
	margin-bottom:10px;
	text-align:left;
}
#header h2 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:14px;
	text-align:right;
	font-weight:normal;
	margin:0;
	padding:0;
	color:#000000;
	border-bottom:1px solid #eeeeee;
}

#content {
	width:1000px;
	margin:0 auto 0 auto;
	text-align:left;
	position: relative;
	top: 10px;
	left: 10px;
}

#content_narrow {
	width:720px;
	margin:0 auto 0 auto;
	text-align:left;
}

#content h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:20px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
}

#content_narrow h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:20px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
}

.introduction {
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
	line-height:20px;
	font-size:12px;
	color:#006600;
/* 	background-image:url(../images/backgrounds/desc.jpg); */
	background-position:bottom left;
	padding-left:0;
	padding-right:80px;
	padding-bottom:0px;
	padding-top:0;
	background-repeat:no-repeat;
	text-align: left;
}

.introduction_admin {
	font-family:"Trebuchet MS", Helvetica, Arial, sans-serif;
	line-height:20px;
	font-size:12px;
	color:#a71b04;
/* 	background-image:url(../images/backgrounds/desc.jpg); */
	background-position:bottom left;
	padding-left:0;
	padding-right:200px;
	padding-bottom:0px;
	padding-top:0;
	background-repeat:no-repeat;
	text-align: left;
}

.logo {
	float:right;
	margin-right:10px;
	margin-bottom:80px;
	border: 0px;
}
.clearer {
	clear:both;
}

#sidebar {
	position: relative;
	width:160px;
	right: 10px;
/*	height: 440px;*/
/* 	display: block;  */
	font-size:95%;
	color:#6C534A;
	text-align:center; 
}
#sidebar h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:20px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
	text-align:right;
}
.submenu {
}
.submenu a {
	display:block;
	width:100%;
	background-image:url(../images/backgrounds/submenua.gif);
	background-position:right;
	background-repeat:no-repeat;
	padding:5px;
	padding-right:0;
}
.submenu a:hover {
	background-color:#eeeeee;
	background-image:url(../images/backgrounds/submenua_hover.jpg);
	background-repeat:repeat-y;
}

#mainbar {
	position: relative;
	top: 10px;
/* 	height: 420px; */
	margin-right:185px;
	padding-right:35px;
	background-image:url(../images/backgrounds/mainbar.jpg);
	background-position:top right;
	background-repeat:no-repeat;
}

#mainform {
	margin-right:10px;
	padding-right:10px;
	background-image:url(../images/backgrounds/mainbar.jpg);
	background-position:top right;
	background-repeat:no-repeat;
}

#mainbar h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:20px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
}

#mainbar p {
	padding:5px;
	line-height:20px;
}

#mainbar .articleimg {
	float:right;
	padding:5px;
	border:1px solid #eeeeee;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
}

#footer {
	top: 20px;
	position: relative;
	width:100%;
	background-color:#b6cf84;
	border-top:1px solid #d8efa6;
	border-bottom:5px solid #94ae62;
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;
	color:#007000;
	text-align: center;
}
#footer a {
	color:#006600;
}
#footer a:hover {
	color:#009900;
}

#footer_admin {
	top: 20px;
	position: relative;
	width:100%;
	background-color:#e19a9a;
	border-top:1px solid #d8efa6;
	border-bottom:5px solid #db6060;
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;
	color:#FFFFFF;
	text-align: center;
}
#footer_admin a {
	color:blue;
}
#footer_admin a:hover {
	color:black;
}

/* forms css specificatins */
/* tables */
caption {
	font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	border-top: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bg_header.jpg) repeat-x;
	padding: 2px;
}

td.code {
/* 	width: 40%; */
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
/* 	border-top: 1px solid #C1DAD7; */
	border-bottom: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: red;
	padding: 4px;
}

td.label {
/* 	width: 40%; */
	border-left: 1px solid #C1DAD7;
	border-top: 0px;
	border-bottom: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
	padding: 4px;
}

td.label1 {
/* 	width: 40%; */
	border-left: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
	padding: 4px;
}

td.label2 {
/* 	width: 40%; */
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
/* 	border-top: 1px solid #C1DAD7; */
	border-bottom: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
	padding: 4px;
}

td.label3 {
/* 	width: 40%; */
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
	padding: 4px;
}
td.label4 {
/* 	width: 40%; */
 	border-top: 1px solid #C1DAD7; 
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
	padding: 4px;
}
td.label5 {
/* 	width: 40%; */
 	border-top: 1px solid #C1DAD7; 
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: black;
	padding: 4px;
}

td.image {
	width: 40%;
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 0px 2px 4px;
	color: #6D929B;
	font: bold 12px courier, Verdana, Arial, Helvetica, sans-serif;
}

td.field {
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: #6D929B;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

td.field1 {
	border-left: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: #6D929B;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

td.field2 {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: #6D929B;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

td.field3 {
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: red;
	font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

/* to DNA subsection */
td.field4 {
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: #6D929B;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

td.field5 {
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: #6D929B;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}


td.field6 {
	border-right: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: #6D929B;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}


td.field7 {
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: #6D929B;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}



td.field8 {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	background: #fff;
	padding: 2px 2px 2px 4px;
	color: #6D929B;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

td.sidebar {
	width: 170px;
}

.java1 {
	color: #4352b4; 
	font: bold 20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    position:relative;
	width:600px;
	height:250px;
	top:40px;
	left:300px;
	overflow:auto;
}

.eol_button {
    padding: 4px 10px 3px 25px;
    border: solid 1px #8AB134;
    position: relative;
    cursor: pointer;
    display: inline-block;
    background-image: url( '../images/bkg.png' );
    background-repeat: repeat-x;
    font-size: 11px;
    height: 16px;
    text-decoration: none;
    color: #40740D;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}
.eol_button img {
    position: absolute;
    top: -4px;
    left: -12px;
    border: none;
}
.eol_button:hover {
    color: #8AB134;
} 

.eol_taxonomy {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#728c40;
}

.eol_link {
	font-family:"Verdana", Arial, sans-serif;
	font-size:10px;
	font-weight:normal;
	color:gray;
}
